.navbar-container{
    position: fixed;
    top: 0;
    height:80px;
    width: 100%;
    background-color:red;
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: space-between;
}

.navbar-container img{
    height:70%;
    margin-left: 40px;
    cursor:pointer;
}

.navbar-container .form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container  input{
    border: none;
    width: 350px;
    height:20px;
    padding:5px;
    outline: none;
}

.navbar-container p{
    margin-right: 50px;
}